@page "/login"
@using Demo.Models.Dto
@using Demo.SPA.Services
@inject AuthService authService;
@inject IJSRuntime JS;

<style>
    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 5%;
    }
</style>
<div >
    <Card Class="displayed" Title="Вход в систему" Style="width:350px; vertical-align: center; horiz-align: center; text-align: center" Bordered="true">
        <Body>
        <Form Model="@loginRequest"
              ValidateOnChange="@true"
              Layout="@FormLayout.Vertical"
              LabelColSpan="16"
              WrapperColSpan="16"
              @ref="                    form">
            <FormItem Label="E-Mail" WrapperColOffset="0" WrapperColSpan="0" Style="margin-top: -10px">
                <Input @bind-Value="@loginRequest.Email"/>
            </FormItem>
            <FormItem Label="Пароль" WrapperColOffset="0" WrapperColSpan="0" Style="margin-top: -10px; margin-bottom: 35px">
                <InputPassword @bind-Value="@loginRequest.Password"/>
            </FormItem>
            <FormItem WrapperColOffset="0" WrapperColSpan="0">
                <Button Type="@ButtonType.Primary" HtmlType="submit" Style="width:300px;" @onclick="@LoginIn">
                    Войти
                </Button>
            </FormItem>

            <FormItem WrapperColOffset="0" WrapperColSpan="0">
                <div>
                    <Row>
                        <Col Span="12">
                            <Checkbox @bind-Value="@loginRequest.RememberMe">Оставаться в системе</Checkbox>
                        </Col>
                        <Col Span="12" style="margin-top: -7px; text-align: right;">
                            <NavLink class="nav-link" href="restorePassword">
                                Забыли пароль
                            </NavLink>
                        </Col>
                    </Row>
                </div>
            </FormItem>
            <FormItem WrapperColOffset="6" WrapperColSpan="10" Style="margin-top: -15px; margin-bottom: -7px">
                <NavLink class="nav-link" href="registration">
                    Зарегистрироваться
                </NavLink>
            </FormItem>
        </Form>
        </Body>
    </Card>
</div>

@code
{
    private string fingerprint;

    private readonly LoginRequest loginRequest = new() {
        RememberMe = true
    };

    protected override async Task OnInitializedAsync() {
        fingerprint = await JS.InvokeAsync<string>("initFingerprintJS");
    }

    Form<LoginRequest> form;

    private async Task LoginIn() {
        if (form.Validate()) {
            loginRequest.FingerPrint = fingerprint;
            await authService.Login(loginRequest);
        }
    }
}