@page "/login"
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
<style>
    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto; 
        margin-top: 5%;
    }
</style>
<div >
    <Card Class="displayed" Title="Вход в систему" Style="width:350px; vertical-align: center; horiz-align: center; text-align: center" Bordered="true">
        <Body>
        <Form Model="@model"
              Layout="@FormLayout.Vertical"
              OnFinish="OnFinish"
              OnFinishFailed="OnFinishFailed"
              LabelColSpan="16"
              WrapperColSpan="16">
            <FormItem Label="E-Mail" WrapperColOffset="0" WrapperColSpan="0" Style="margin-top: -10px">
                <Input @bind-Value="@context.Username"/>
            </FormItem>
            <FormItem Label="Пароль" WrapperColOffset="0" WrapperColSpan="0" Style="margin-top: -10px; margin-bottom: 35px">
                <InputPassword @bind-Value="@context.Password"/>
            </FormItem>
            <FormItem WrapperColOffset="0" WrapperColSpan="0">
                <Button Type="@ButtonType.Primary" HtmlType="submit" Style="width:300px;">
                    Войти
                </Button>
            </FormItem>

            <FormItem WrapperColOffset="0" WrapperColSpan="0">
                <div>
                    <Row>
                        <Col Span="12">
                            <Checkbox @bind-Value="context.RememberMe">Оставаться в системе</Checkbox>
                        </Col>
                        <Col Span="12" style="margin-top: -7px; text-align: right;">
                            <NavLink class="nav-link" href="restorePassword">
                                Забыли пароль
                            </NavLink>
                        </Col>
                    </Row>
                </div>
            </FormItem>
            <FormItem WrapperColOffset="6" WrapperColSpan="10" Style="margin-top: -15px; margin-bottom: -7px">
                <NavLink class="nav-link" href="registration">
                    Зарегистрироваться
                </NavLink>
            </FormItem>
        </Form>
        </Body>
    </Card>
</div>


@code
{
    public class Model {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }

        public bool RememberMe { get; set; } = true;
    }

    private Model model = new Model();

    private void OnFinish(EditContext editContext) {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(model)}");
    }

    private void OnFinishFailed(EditContext editContext) {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }
}