@page "/restorePassword"
@inject AuthService authService;
@using Demo.Models.Dto
@using Demo.SPA.Services
<style>
    .displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
</style>
<div >
    <Card Class="displayed" Title="Восстановление пароля" Style="width:350px; vertical-align: center; horiz-align: center; text-align: center" Bordered="true">
        <Body>
        <Form Model="@model"
              Loading="@loading"
              Layout="@FormLayout.Vertical"
              LabelColSpan="16"
              WrapperColSpan="16"
              @ref="                        form">
            <FormItem Label="E-Mail" WrapperColOffset="0" WrapperColSpan="0" Style="margin-top: -10px">
                <Input @bind-Value="@context.Email"/>
            </FormItem>
            <FormItem WrapperColOffset="0" WrapperColSpan="0">
                <Button Type="@ButtonType.Primary" HtmlType="submit" Style="width:300px;" @onclick="@Rstore">
                    Восстановить пароль
                </Button>
            </FormItem>
            <FormItem WrapperColOffset="6" WrapperColSpan="10" Style="margin-top: -15px; margin-bottom: -7px">
                <NavLink class="nav-link" href="registration">
                    Зарегистрироваться
                </NavLink>
            </FormItem>
        </Form>
        </Body>
    </Card>
</div>


@code
{
    bool loading = false;
    private readonly RestorePasswordRequest model = new();

    Form<RestorePasswordRequest> form;

    private async Task Rstore() {
        if (form.Validate()) {
            loading = true;
            await authService.RestorePassword(model, default);
            loading = false;
        }
    }
}